@import '../../../variables';

.Dropdown {
    font-family: $ff-common;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    &Header {
        background-color: #eee;
        border: 1px solid #eee;
        border-radius: 3px 3px 0 0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        user-select: none;
        position: relative;
        z-index: 2;

        .fa-chevron-down {
            position: relative;
            top: 1px;
        }

        strong::first-letter {
            text-transform: capitalize;
        }

        &.Closed {
            .DropdownHeader {
                position: relative;
                z-index: 2;
            }

            .fa-chevron-down {
                transform: rotate(180deg);
                transition: transform 200ms ease;
            }
        }
    }

    &Body {
        height: 100%;
        transition: height 300ms ease;
    }

}

.Closed + .DropdownBody {
    height: 0;
}