// fonts
$ff-common: 'Montserrat', sans-serif;
$ff-heading: 'Oswald', sans-serif;
$ff-logo: 'Zhi Mang Xing', cursive;

// colors
$text: #2d2d2d;
$darkgrey: #949393;
$blue: #0e91e9;
$green: #03eb03;
$darkblue: #090975;
$darkred: #610505;
